
<div class="container-fluid " >
  <div class="container z-depth-5 hoverable">
      <div class="row">
          <div class="col-md-6 left">
              <div class="d-flex inline justify-content-center z-depth-3 animated fadeInLeft">CS-GATE AIR 16</div>
              <ul class="gate"><li>We strive for the overall development of students and pave ways for their future plans</li>
                <br>
             <li>Frequent sessions are made on career mantra and incentives are provided to deserved students</li>
            </ul>
          </div>
          <hr>
          <div class="col-md-6  right animated infinite bounce">
           <img  class="dart img-fluid " src="assets/images/dart-board.svg" alt="">
          </div>
       </div>
  </div>
      
  
</div>