@import url('https://fonts.googleapis.com/css?family=Dosis|Lobster|Montserrat|Muli|Nunito|Open+Sans+Condensed:300|Oxygen|PT+Sans');

.wrapper
{
    
    position:static;
    background-color:inherit;
    height: 500px;

}

.main-text
{
    text-align: center;
    padding-top:200px;
    display: flex;
    
    

}

.started
{
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    

}
.count  
{   
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 2.5em;

    
}

.ace
{
    font-family: 'Oxygen', sans-serif;
   color:slateblue;
}

@keyframes nulle
{
    from {color: red;}
    to {color:green;}
}

@keyframes one 
{
    from {color: red;}
    to {color:green;}
}

@keyframes two 
{
    from {color:green;}
    to {color: yellow;}
}
@keyframes three
{
    from {color: yellow;}
    to {color:orangered;}
}
@keyframes four
{
    from {color:orangered;}
    to {color: seagreen; }
}
@keyframes five
{
    from {color: seagreen;}
    to {color:black;}
}

.dot1
{
    
    animation-name: one;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.dot2
{
    
    animation-name: two;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.dot3
{
    
    animation-name: three;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.dot4
{

    animation-name: four;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.dot5
{

    animation-name: five;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@media only screen 
and (max-width : 320px) {
.main-text
{
    text-align: center;

}
}
