


<div class="wrapper container-fluid">

  <div class="container ">
      <div class="main-text row">
   
          <div class=" col-md-9 animated fadeInLeft ">
            <h1>
                <Span class="started">Just St<span class="ace">A</span>rt<span class="ace">E</span>d!!</Span>
            </h1>  
          </div>
  
          <div class=" col-md-3 ">
        
          </div>
    
   </div>
   <div class="row">
     <div class="col-md-5 ">
  
     </div>
     <div class="col-md-7 animated fadeInRight">
        <h1>
          <span class="count"> <span class="ace">C</span>ounting<span class="dot1">.</span><span class="dot2">.</span><span class="dot3">.</span><span class="dot4">.</span><span class="dot5">.</span></span>
           
        </h1>
     </div>
   </div>
  </div>
  </div>
 